* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: white;
    color: white;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url('images/netflix\ banner.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 60px;
}

.netflix-logo {
    height: 40px;
    margin-left: 90px;
}

.sign-in-btn {
    background-color: #e50914;
    color: white;
    font-size: 0.93rem;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 90px;
}


.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 18%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.hero-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 30px;
}

.hero-content p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.email-form {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.email-form input {
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid grey;
    border-radius: 4px;
    width: 400px;
    background: rgba(20, 20, 20, 0.7);
    color: grey;
}

.email-form input::placeholder {
    color: white;
    opacity: 0.7;
}

.email-form button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

/* page 2- choose-plan */

.page2-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
}

.sign-out {
    color: rgb(64, 60, 60);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.netflix2-logo {
    height: 45px;
}